include ../partials/head
body(class=' row align-items-center justify-content-center text-secondary')
    div(class='col-sm-3 bg-light border border-secondary rounded shadow p-3 mb-5')
        h2(class='text-center')='Ingresar producto'
        br
        form(action='/productos'  method='POST')
            div(class='form-group')
                input(type='hidden' name='id' value='0')
                b='Nombre:'
                br
                input(type='text' class='form-control' name='title' required)
            div(class='form-group')
                b='Precio:'
                br
                input(type='number' step='0.01' class='form-control' name='price' required)
            div(class='form-group')
                b='Url Foto:'
                br
                input(type='url' name='thumbnail' class='form-control' required)
            br
            input(type='submit' class='btn btn-success' value='Guardar')
    include ../partials/mensajeExito
    div(class='d-flex justify-content-center mt-0')
        a(href='/productos' type='button' class='btn btn-primary col-sm-2')= 'Ver productos'



