<%- include('../partials/head') %>
<%- include('../partials/nav'); %>

<body class=" row text-info">
    <%- include('../partials/infoUser'); %>
    <%- include('../partials/tablaProductos'); %>
    <%- include('../partials/cart'); %>
    <%- include('../partials/foot'); %>

    <!-- <%- include('../partials/chat'); %> -->
    <script src="main.js"></script>

</body>
</html>
